$branding-orange: #EF4637;
$branding-turquoise: #35E2DF;
$branding-red: #EF4637;
$branding-yellow: #ffe86b;
$branding-green: #35E2DF;
$branding-dark: #232323;

$junction-snow: #FBFBFB;
$junction-dark: #232323;
$junction-turqoise: #35E2DF;
$junction-vermillion: #ef4637;
$junction-pink: #EC008B;

$banner-text-color: $junction-snow;
$banner-background: transparent;


$wait-color: $branding-yellow;
$error-color: $branding-red;
$previous-color: $branding-orange;
$current-color: $branding-turquoise;
$vote-color: $branding-red;
$vote-skip-color: $branding-yellow;
$vote-done-color: $branding-green;
$admin-color: $branding-dark;
$disabled-color: mix($branding-red, white, 25%);
$prioritized-color: mix($branding-green, white, 25%);
$positive-color: $branding-green;
$negative-color: $branding-red;
$neutral-color: $branding-yellow;

$text-color: $junction-snow;
$link-color: mix($branding-turquoise, black, 50%);
$light: $junction-dark;
$light-grey: black;
$dark: $junction-dark;
$heading-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
